#### 2 PARA CONSUMIR LOS DATOS DE LAS APIS CREADAS.

In [4]:
import requests
import pandas as pd
import json

In [5]:

url = "http://vps-2671696-x.dattaweb.com:8000/collision/status/"
response = requests.get(url)
aux = json.dumps(response.json()['data'])
df = pd.read_json(aux)
df.head()

,periodo,qty_apparent_death,qty_conscious,qty_does_not_apply,qty_incoherent,qty_semiconscious,qty_shock,qty_unconscious,qty_unknown,qty_total
0,2016/03,8,14675,29651,19,26,115,25,470,44989
1,2016/04,16,20624,55709,33,44,167,44,375,77012
2,2016/05,11,5323,81488,22,39,79,28,194,87184
3,2016/06,24,5323,83639,24,43,102,45,176,89376
4,2016/07,20,5385,80059,14,37,120,34,161,85830