In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
df_vehicle_person_crash = pd.read_csv("Motor_Vehicle_Collisions_-_Person.csv")
df_vehicle_person_crash.head()

,UNIQUE_ID,COLLISION_ID,CRASH_DATE,CRASH_TIME,PERSON_ID,PERSON_TYPE,PERSON_INJURY,VEHICLE_ID,PERSON_AGE,EJECTION,...,BODILY_INJURY,POSITION_IN_VEHICLE,SAFETY_EQUIPMENT,PED_LOCATION,PED_ACTION,COMPLAINT,PED_ROLE,CONTRIBUTING_FACTOR_1,CONTRIBUTING_FACTOR_2,PERSON_SEX
0,10249006,4229554,10/26/2019,9:43,31aa2bc0-f545-444f-8cdb-f1cb5cf00b89,Occupant,Unspecified,19141108.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,U
1,10255054,4230587,10/25/2019,15:15,4629e500-a73e-48dc-b8fb-53124d124b80,Occupant,Unspecified,19144075.0,33.0,Not Ejected,...,Does Not Apply,"Front passenger, if two or more persons, inclu...",Lap Belt & Harness,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F
2,10253177,4230550,10/26/2019,17:55,ae48c136-1383-45db-83f4-2a5eecfb7cff,Occupant,Unspecified,19143133.0,55.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Registrant,NaN,NaN,M
3,6650180,3565527,11/21/2016,13:05,2782525,Occupant,Unspecified,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Notified Person,NaN,NaN,NaN
4,10255516,4231168,10/25/2019,11:16,e038e18f-40fb-4471-99cf-345eae36e064,Occupant,Unspecified,19144329.0,7.0,Not Ejected,...,Does Not Apply,Right rear passenger or motorcycle sidecar pas...,Lap Belt,NaN,NaN,Does Not Apply,Passenger,NaN,NaN,F

In [3]:
df_vehicle_person_crash.dtypes

UNIQUE_ID                  int64
COLLISION_ID               int64
CRASH_DATE                object
CRASH_TIME                object
PERSON_ID                 object
PERSON_TYPE               object
PERSON_INJURY             object
VEHICLE_ID               float64
PERSON_AGE               float64
EJECTION                  object
EMOTIONAL_STATUS          object
BODILY_INJURY             object
POSITION_IN_VEHICLE       object
SAFETY_EQUIPMENT          object
PED_LOCATION              object
PED_ACTION                object
COMPLAINT                 object
PED_ROLE                  object
CONTRIBUTING_FACTOR_1     object
CONTRIBUTING_FACTOR_2     object
PERSON_SEX                object
dtype: object

In [4]:
df_vehicle_person_crash.isna().mean()

UNIQUE_ID                0.000000
COLLISION_ID             0.000000
CRASH_DATE               0.000000
CRASH_TIME               0.000000
PERSON_ID                0.000004
PERSON_TYPE              0.000000
PERSON_INJURY            0.000000
VEHICLE_ID               0.039645
PERSON_AGE               0.098226
EJECTION                 0.488140
EMOTIONAL_STATUS         0.474562
BODILY_INJURY            0.474553
POSITION_IN_VEHICLE      0.488069
SAFETY_EQUIPMENT         0.488084
PED_LOCATION             0.985548
PED_ACTION               0.985569
COMPLAINT                0.474551
PED_ROLE                 0.040784
CONTRIBUTING_FACTOR_1    0.985813
CONTRIBUTING_FACTOR_2    0.985832
PERSON_SEX               0.114505
dtype: float64

In [5]:
print(df_vehicle_person_crash['UNIQUE_ID'].nunique(), df_vehicle_person_crash.shape)

4778660 (4778660, 21)

In [6]:
df_vehicle_person_crash.columns

Index(['UNIQUE_ID', 'COLLISION_ID', 'CRASH_DATE', 'CRASH_TIME', 'PERSON_ID',
       'PERSON_TYPE', 'PERSON_INJURY', 'VEHICLE_ID', 'PERSON_AGE', 'EJECTION',
       'EMOTIONAL_STATUS', 'BODILY_INJURY', 'POSITION_IN_VEHICLE',
       'SAFETY_EQUIPMENT', 'PED_LOCATION', 'PED_ACTION', 'COMPLAINT',
       'PED_ROLE', 'CONTRIBUTING_FACTOR_1', 'CONTRIBUTING_FACTOR_2',
       'PERSON_SEX'],
      dtype='object')

In [7]:
df_vehicle_person_crash['CRASH_DATE']=pd.to_datetime(df_vehicle_person_crash.CRASH_DATE)
df_vehicle_person_crash['PERIODO'] = df_vehicle_person_crash['CRASH_DATE'].dt.strftime('%Y/%m')

In [8]:
vehicle_person_raw = df_vehicle_person_crash[['UNIQUE_ID', 'PERIODO', 'PERSON_SEX', 'PERSON_INJURY', 'PERSON_TYPE', 'EMOTIONAL_STATUS']]
vehicle_person_raw = vehicle_person_raw.sort_values(['PERIODO']).reset_index(drop=True)
vehicle_person_raw

,UNIQUE_ID,PERIODO,PERSON_SEX,PERSON_INJURY,PERSON_TYPE,EMOTIONAL_STATUS
0,2226882,2012/07,NaN,Injured,Occupant,NaN
1,1865123,2012/07,NaN,Injured,Pedestrian,NaN
2,1624653,2012/07,NaN,Injured,Bicyclist,NaN
3,1265921,2012/07,NaN,Injured,Pedestrian,NaN
4,1893857,2012/07,NaN,Injured,Pedestrian,NaN
...,...,...,...,...,...,...
4778655,12318170,2022/08,F,Unspecified,Occupant,NaN
4778656,12316805,2022/08,F,Injured,Occupant,Conscious
4778657,12311254,2022/08,M,Unspecified,Occupant,Does Not Apply
4778658,12317199,2022/08,F,Unspecified,Occupant,Does Not Apply
4778659,12318268,2022/08,F,Unspecified,Occupant,Does Not Apply

In [9]:
vehicle_person_raw.isna().sum().sort_values(ascending = False)

EMOTIONAL_STATUS    2267770
PERSON_SEX           547182
UNIQUE_ID                 0
PERIODO                   0
PERSON_INJURY             0
PERSON_TYPE               0
dtype: int64

In [10]:
vehicle_person_raw.isna().mean().sort_values(ascending = False)

EMOTIONAL_STATUS    0.474562
PERSON_SEX          0.114505
UNIQUE_ID           0.000000
PERIODO             0.000000
PERSON_INJURY       0.000000
PERSON_TYPE         0.000000
dtype: float64

CORROBORANDO LA UNICIDAD DE LA COLUMNA 'UNIQUE_ID'

In [11]:
len(vehicle_person_raw.index) == vehicle_person_raw['UNIQUE_ID'].nunique()

True

# I. OBTENIENDO LA TABLA DE CONTEO DE PERSONAS POR SEXO

#### 1. Comprobando los valores Ãºnicos de la columna 'PERSON_SEX' y llenando los valores nan.

In [12]:
print(vehicle_person_raw['PERSON_SEX'].unique())

[nan 'M' 'U' 'F']

In [13]:
vehicle_person_raw.PERSON_SEX.fillna("U", inplace = True)

#### 2. Comprobando los valores Ãºnicos de la columna 'EMOTIONAL_STATUS' y llenando los valores nan.

In [14]:
print(df_vehicle_person_crash['EMOTIONAL_STATUS'].unique())

[nan 'Does Not Apply' 'Conscious' 'Unknown' 'Shock' 'Incoherent'
 'Semiconscious' 'Apparent Death' 'Unconscious']

In [15]:
vehicle_person_raw.EMOTIONAL_STATUS.fillna("Does Not Apply", inplace = True)

#### 3. Comprobando los cambios efectuados en nuestro dataframe 'vehicle_person_raw'

In [16]:
vehicle_person_raw.head()

   UNIQUE_ID  PERIODO PERSON_SEX PERSON_INJURY PERSON_TYPE EMOTIONAL_STATUS
0    2226882  2012/07          U       Injured    Occupant   Does Not Apply
1    1865123  2012/07          U       Injured  Pedestrian   Does Not Apply
2    1624653  2012/07          U       Injured   Bicyclist   Does Not Apply
3    1265921  2012/07          U       Injured  Pedestrian   Does Not Apply
4    1893857  2012/07          U       Injured  Pedestrian   Does Not Apply

In [17]:
vehicle_person_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4778660 entries, 0 to 4778659
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   UNIQUE_ID         int64
 1   PERIODO           object
 2   PERSON_SEX        object
 3   PERSON_INJURY     object
 4   PERSON_TYPE       object
 5   EMOTIONAL_STATUS  object
dtypes: int64(1), object(5)
memory usage: 218.7+ MB

In [18]:
sex = vehicle_person_raw.groupby('PERSON_SEX')

In [19]:
len(sex)

3

In [20]:
sex.size()

PERSON_SEX
F    1285983
M    2545880
U     946797
dtype: int64

In [21]:
male = sex.get_group('M')
female = sex.get_group('F')
undefined = sex.get_group('U')

In [22]:
df_male = male.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_male['UNIQUE_ID'].sum()
#df_male.head()

In [23]:
df_female = female.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_female['UNIQUE_ID'].sum()
#df_female.head()

In [24]:
df_undefined = undefined.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_undefined['UNIQUE_ID'].sum()
#df_undefined.head()

In [25]:
df_male.columns.values[1] = 'QTY_MALE'
df_female.columns.values[1] = 'QTY_FEMALE'
df_undefined.columns.values[1] = 'QTY_UNDEFINED'

In [26]:
df_sex = df_male.merge(df_female, on="PERIODO", how="left").merge(df_undefined, on="PERIODO", how="left")

In [27]:
df_sex.head()

   PERIODO  QTY_MALE  QTY_FEMALE  QTY_UNDEFINED
0  2012/07        13         NaN           4880
1  2012/08         7         3.0           4781
2  2012/09         7         6.0           4719
3  2012/10         9         3.0           4589
4  2012/11         1         1.0           4008

In [28]:
df_sex.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PERIODO        120 non-null    object
 1   QTY_MALE       120 non-null    int64
 2   QTY_FEMALE     118 non-null    float64
 3   QTY_UNDEFINED  120 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 4.7+ KB

In [29]:
df_sex['QTY_FEMALE'] = df_sex['QTY_FEMALE'].fillna(0)

In [30]:
df_sex['QTY_FEMALE'] = df_sex['QTY_FEMALE'].astype('int64')

In [31]:
df_sex['QTY_TOTAL'] = df_sex['QTY_MALE'] + df_sex['QTY_FEMALE'] + df_sex['QTY_UNDEFINED']

In [32]:
df_sex.head()

   PERIODO  QTY_MALE  QTY_FEMALE  QTY_UNDEFINED  QTY_TOTAL
0  2012/07        13           0           4880       4893
1  2012/08         7           3           4781       4791
2  2012/09         7           6           4719       4732
3  2012/10         9           3           4589       4601
4  2012/11         1           1           4008       4010

In [33]:
df_sex.to_csv('data_monthly_by_sex.csv', sep=',', index=False)

df_sex = pd.merge(pd.merge(df_male, df_female, on='PERIODO'), df_undefined, on='PERIODO')

# II. OBTENIENDO LA TABLA DE CONTEO DE PERSONAS POR 'INJURY'

In [34]:
injury = vehicle_person_raw.groupby('PERSON_INJURY')

In [35]:
len(injury)

3

In [36]:
injury.size()

PERSON_INJURY
Injured         557816
Killed            2648
Unspecified    4218196
dtype: int64

In [37]:
inj = injury.get_group('Injured')
kill = injury.get_group('Killed')
unsp = injury.get_group('Unspecified')

In [38]:
df_inj = inj.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_inj['UNIQUE_ID'].sum()
#df_inj.head()

In [39]:
df_kill = kill.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_kill['UNIQUE_ID'].sum()
#df_kill.head()

In [40]:
df_unsp = unsp.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_unsp['UNIQUE_ID'].sum()
#df_unsp.head()

In [41]:
df_inj.columns.values[1] = 'QTY_INJURED'
df_kill.columns.values[1] = 'QTY_KILLED'
df_unsp.columns.values[1] = 'QTY_UNSPECIFIED'

In [42]:
df_injury = df_inj.merge(df_kill, on="PERIODO", how="left").merge(df_unsp, on="PERIODO", how="left")

In [43]:
df_injury.head()

   PERIODO  QTY_INJURED  QTY_KILLED  QTY_UNSPECIFIED
0  2012/07         4855          22             16.0
1  2012/08         4751          27             13.0
2  2012/09         4689          26             17.0
3  2012/10         4566          21             14.0
4  2012/11         3995          14              1.0

In [44]:
df_injury.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 121
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PERIODO          122 non-null    object
 1   QTY_INJURED      122 non-null    int64
 2   QTY_KILLED       122 non-null    int64
 3   QTY_UNSPECIFIED  121 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 4.8+ KB

In [45]:
df_injury['QTY_UNSPECIFIED'] = df_injury['QTY_UNSPECIFIED'].fillna(0)

In [46]:
df_injury['QTY_UNSPECIFIED'] = df_injury['QTY_UNSPECIFIED'].astype('int64')

In [47]:
df_injury['QTY_TOTAL'] = df_injury['QTY_INJURED'] + df_injury['QTY_KILLED'] + df_injury['QTY_UNSPECIFIED']

In [48]:
df_injury.head()

   PERIODO  QTY_INJURED  QTY_KILLED  QTY_UNSPECIFIED  QTY_TOTAL
0  2012/07         4855          22               16       4893
1  2012/08         4751          27               13       4791
2  2012/09         4689          26               17       4732
3  2012/10         4566          21               14       4601
4  2012/11         3995          14                1       4010

In [49]:
df_injury.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 121
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PERIODO          122 non-null    object
 1   QTY_INJURED      122 non-null    int64
 2   QTY_KILLED       122 non-null    int64
 3   QTY_UNSPECIFIED  122 non-null    int64
 4   QTY_TOTAL        122 non-null    int64
dtypes: int64(4), object(1)
memory usage: 5.7+ KB

In [50]:
df_injury.to_csv('data_monthly_by_injury.csv', sep=',', index=False)

# III. OBTENIENDO LA TABLA DE CONTEO DE PERSONAS POR 'PERSON_TYPE'

In [51]:
type = vehicle_person_raw.groupby('PERSON_TYPE')

In [52]:
len(type)

4

In [53]:
type.size()

PERSON_TYPE
Bicyclist            57437
Occupant           4607122
Other Motorized       4520
Pedestrian          109581
dtype: int64

In [54]:
bicy = type.get_group('Bicyclist')
occu = type.get_group('Occupant')
other = type.get_group('Other Motorized')
pedes = type.get_group('Pedestrian')

In [55]:
df_bicy = bicy.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_bicy['UNIQUE_ID'].sum()
#df_bicy.head()

In [56]:
df_occu = occu.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_occu['UNIQUE_ID'].sum()
#df_occu.head()

In [57]:
df_other = other.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_other['UNIQUE_ID'].sum()
#df_other.head()

In [58]:
df_pedes = pedes.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_pedes['UNIQUE_ID'].sum()
#df_pedes.head()

In [59]:
df_bicy.columns.values[1] = 'QTY_BICYCLIST'
df_occu.columns.values[1] = 'QTY_OCCUPANT'
df_other.columns.values[1] = 'QTY_OTHER_MOTORIZED'
df_pedes.columns.values[1] = 'QTY_PEDESTRIAN'

In [60]:
df_type = df_bicy.merge(df_occu, on="PERIODO", how="left").merge(df_other, on="PERIODO", how="left").merge(df_pedes, on="PERIODO", how="left")

In [61]:
df_type.head()

   PERIODO  QTY_BICYCLIST  QTY_OCCUPANT  QTY_OTHER_MOTORIZED  QTY_PEDESTRIAN
0  2012/07            454          3578                  NaN             861
1  2012/08            509          3417                  NaN             865
2  2012/09            435          3391                  NaN             906
3  2012/10            330          3281                  NaN             990
4  2012/11            277          2688                  NaN            1045

In [62]:
df_type.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 121
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PERIODO              122 non-null    object
 1   QTY_BICYCLIST        122 non-null    int64
 2   QTY_OCCUPANT         122 non-null    int64
 3   QTY_OTHER_MOTORIZED  18 non-null     float64
 4   QTY_PEDESTRIAN       122 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 5.7+ KB

In [63]:
df_type['QTY_OTHER_MOTORIZED'] = df_type['QTY_OTHER_MOTORIZED'].fillna(0)

In [64]:
df_type['QTY_OTHER_MOTORIZED'] = df_type['QTY_OTHER_MOTORIZED'].astype('int64')

In [65]:
df_type['QTY_TOTAL'] = df_type['QTY_BICYCLIST'] + df_type['QTY_OCCUPANT'] + df_type['QTY_OTHER_MOTORIZED'] + df_type['QTY_PEDESTRIAN']

In [66]:
df_type.head()

,PERIODO,QTY_BICYCLIST,QTY_OCCUPANT,QTY_OTHER_MOTORIZED,QTY_PEDESTRIAN,QTY_TOTAL
0,2012/07,454,3578,0,861,4893
1,2012/08,509,3417,0,865,4791
2,2012/09,435,3391,0,906,4732
3,2012/10,330,3281,0,990,4601
4,2012/11,277,2688,0,1045,4010

In [67]:
df_type.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122 entries, 0 to 121
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PERIODO              122 non-null    object
 1   QTY_BICYCLIST        122 non-null    int64
 2   QTY_OCCUPANT         122 non-null    int64
 3   QTY_OTHER_MOTORIZED  122 non-null    int64
 4   QTY_PEDESTRIAN       122 non-null    int64
 5   QTY_TOTAL            122 non-null    int64
dtypes: int64(5), object(1)
memory usage: 6.7+ KB

In [68]:
df_type.to_csv('data_monthly_by_type.csv', sep=',', index=False)

# IV. OBTENIENDO LA TABLA DE CONTEO DE PERSONAS POR 'EMOTIONAL_STATUS'

In [69]:
status = vehicle_person_raw.groupby('EMOTIONAL_STATUS')

In [70]:
len(status)

8

In [71]:
status.size()

EMOTIONAL_STATUS
Apparent Death       1445
Conscious          369355
Does Not Apply    4382436
Incoherent           1524
Semiconscious        2280
Shock                9397
Unconscious          2036
Unknown             10187
dtype: int64

In [72]:
app_death = status.get_group('Apparent Death')
consc = status.get_group('Conscious')
not_apply = status.get_group('Does Not Apply')
inco = status.get_group('Incoherent')
semi_consc = status.get_group('Semiconscious')
shock = status.get_group('Shock')
unconsc = status.get_group('Unconscious')
unkn = status.get_group('Unknown')

In [73]:
df_app_death = app_death.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_app_death['UNIQUE_ID'].sum()
#df_app_death.head()

In [74]:
df_consc = consc.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_consc['UNIQUE_ID'].sum()
#df_consc.head()

In [75]:
df_not_apply = not_apply.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_not_apply['UNIQUE_ID'].sum()
#df_not_apply.head()

In [76]:
df_inco = inco.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_inco['UNIQUE_ID'].sum()
#df_inco.head()

In [77]:
df_semi_consc = semi_consc.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_semi_consc['UNIQUE_ID'].sum()
#df_semi_consc.head()

In [78]:
df_shock = shock.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_shock['UNIQUE_ID'].sum()
#df_shock.head()

In [79]:
df_unconsc = unconsc.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_unconsc['UNIQUE_ID'].sum()
#df_unconsc.head()

In [80]:
df_unkn = unkn.groupby('PERIODO', as_index = False)['UNIQUE_ID'].count()
#df_unkn['UNIQUE_ID'].sum()
#df_unkn.head()

In [81]:
df_app_death.columns.values[1] = 'QTY_APPARENT_DEATH'
df_consc.columns.values[1] = 'QTY_CONSCIOUS'
df_not_apply.columns.values[1] = 'QTY_DOES_NOT_APPLY'
df_inco.columns.values[1] = 'QTY_INCOHERENT'
df_semi_consc.columns.values[1] = 'QTY_SEMICONSCIOUS'
df_shock.columns.values[1] = 'QTY_SHOCK'
df_unconsc.columns.values[1] = 'QTY_UNCONSCIOUS'
df_unkn.columns.values[1] = 'QTY_UNKNOWN'

In [82]:
df_status = df_app_death.merge(df_consc, on="PERIODO", how="left").merge(df_not_apply, on="PERIODO", how="left").merge(df_inco, on="PERIODO", how="left").merge(df_semi_consc, on="PERIODO", how="left").merge(df_shock, on="PERIODO", how="left").merge(df_unconsc, on="PERIODO", how="left").merge(df_unkn, on="PERIODO", how="left")

In [83]:
df_status.head()

,PERIODO,QTY_APPARENT_DEATH,QTY_CONSCIOUS,QTY_DOES_NOT_APPLY,QTY_INCOHERENT,QTY_SEMICONSCIOUS,QTY_SHOCK,QTY_UNCONSCIOUS,QTY_UNKNOWN
0,2016/03,8,14675,29651,19,26,115,25,470
1,2016/04,16,20624,55709,33,44,167,44,375
2,2016/05,11,5323,81488,22,39,79,28,194
3,2016/06,24,5323,83639,24,43,102,45,176
4,2016/07,20,5385,80059,14,37,120,34,161

In [84]:
df_status.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78 entries, 0 to 77
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PERIODO             78 non-null     object
 1   QTY_APPARENT_DEATH  78 non-null     int64
 2   QTY_CONSCIOUS       78 non-null     int64
 3   QTY_DOES_NOT_APPLY  78 non-null     int64
 4   QTY_INCOHERENT      78 non-null     int64
 5   QTY_SEMICONSCIOUS   78 non-null     int64
 6   QTY_SHOCK           78 non-null     int64
 7   QTY_UNCONSCIOUS     78 non-null     int64
 8   QTY_UNKNOWN         78 non-null     int64
dtypes: int64(8), object(1)
memory usage: 6.1+ KB

In [85]:
df_status['QTY_TOTAL'] = df_status['QTY_APPARENT_DEATH'] + df_status['QTY_CONSCIOUS'] + df_status['QTY_DOES_NOT_APPLY'] + df_status['QTY_INCOHERENT'] + df_status['QTY_SEMICONSCIOUS'] + df_status['QTY_SHOCK'] + df_status['QTY_UNCONSCIOUS'] + df_status['QTY_UNKNOWN']

In [86]:
df_status.head()

,PERIODO,QTY_APPARENT_DEATH,QTY_CONSCIOUS,QTY_DOES_NOT_APPLY,QTY_INCOHERENT,QTY_SEMICONSCIOUS,QTY_SHOCK,QTY_UNCONSCIOUS,QTY_UNKNOWN,QTY_TOTAL
0,2016/03,8,14675,29651,19,26,115,25,470,44989
1,2016/04,16,20624,55709,33,44,167,44,375,77012
2,2016/05,11,5323,81488,22,39,79,28,194,87184
3,2016/06,24,5323,83639,24,43,102,45,176,89376
4,2016/07,20,5385,80059,14,37,120,34,161,85830

In [87]:
df_status.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78 entries, 0 to 77
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   PERIODO             78 non-null     object
 1   QTY_APPARENT_DEATH  78 non-null     int64
 2   QTY_CONSCIOUS       78 non-null     int64
 3   QTY_DOES_NOT_APPLY  78 non-null     int64
 4   QTY_INCOHERENT      78 non-null     int64
 5   QTY_SEMICONSCIOUS   78 non-null     int64
 6   QTY_SHOCK           78 non-null     int64
 7   QTY_UNCONSCIOUS     78 non-null     int64
 8   QTY_UNKNOWN         78 non-null     int64
 9   QTY_TOTAL           78 non-null     int64
dtypes: int64(9), object(1)
memory usage: 6.7+ KB

In [88]:
df_status.to_csv('data_monthly_by_status.csv', sep=',', index=False)